*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

::selection{
    color:#fff;
    background-color: plum;
}

.wrapper{
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    padding: 2rem 0 3rem;
}

.title{
    display: flex;
    justify-content: space-between;
}

.title h1{
    text-transform: uppercase;
    margin-left: 3rem;
    margin-top: 3rem;
    color: rgb(16, 79, 120);
}

.title img {
    width: 20rem;
    margin-top: -10rem;
}

.task-input{
    position: relative;
    height: 3rem;
    padding: 0 3rem;
}

.task-input input {
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    padding: 0 1rem 0 2rem;
}
.task-input input:focus,
.task-input input.active{
    padding-left: 2rem;
    border: 2px solid plum;

}

.task-input input::placeholder{
    color:rgba(16, 79, 120, 0.5)

}

.controls,li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls{
    padding: 18px 25px;
    border-bottom: 1px solid rgba(16, 79, 120, 0.2);
}